<div class="reddit-view">
    <div
            infinite-scroll="redditCtrl.reddit.nextPage()"
            infinite-scroll-disabled="redditCtrl.reddit.busy"
            infinite-scroll-distance="1">
        <ul ng-repeat="item in redditCtrl.reddit.items"
                data-ng-class="{first: $first, last: $last}"
                data-ng-class-even="'even'"
                data-ng-class-odd="'odd'">
            <li class="score">{{item.score}}</li>
            <li class="title">
                <a ng-href="{{item.url}}" target="_blank">{{item.title}}</a>
            </li>
            <li class="byline">by {{item.author}} -  <br/>
                <a ng-href="http://reddit.com{{item.permalink}}" target="_blank">{{item.num_comments}} comments</a>
            </li>
        </ul>
        <ul ng-show="redditCtrl.reddit.busy"><li>Loading data...</li></ul>
    </div>
</div>