<div class="images-slideshow full">
  <ul class="full animated" data-ng-repeat="item in imageSearchCtrl.igData"
      data-ng-if="imageSearchCtrl.activeImageIndex === $index"
      data-ng-class-even="'even'"
      data-ng-class-odd="'odd'">
    <li class="username"><h3>{{ $index }}{{ item.user.username }}</h3></li>
    <li class="tags"><em>
      <span data-ng-repeat="tag in item.tags">{{ tag }} </span>
    </em></li>
    <li class="img full">
      <span class="bg_img full" data-ng-style="{'background-image': 'url( {{ item.images.standard_resolution.url }} )'}"></span>
    </li>
    <li class="caption"> <h2>{{ item.caption.text }}</h2></li>
  </ul>
</div>
