<div class="well">
  <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
    <label>
      <input type="radio" ng-model="data.mode" name="option"
             value="{{button}}" ng-checked="$first" /> {{button}}
    </label>
  </div>

  <h3>Mode:   {{ data.mode }}</h3>
</div>





<!--<div ng-switch on="data.mode">-->
  <!--<div ng-switch-when="Table">-->
  <!--<table class="table"> <thead>-->
  <!--<tr><th>#</th><th>Action</th><th>Done</th></tr> </thead>-->
    <!--<tr ng-repeat="item in todoCtrl.todos" ng-class="$odd ? 'odd' : 'even'">-->
      <!--<td>{{$index + 1}}</td>-->
      <!--<td ng-repeat="prop in item">{{prop}}</td>-->
    <!--</tr> </table>-->
<!--</div>-->
  <!--<div ng-switch-when="List">-->
    <!--<ol>-->
      <!--<li ng-repeat="item in todoCtrl.todos">-->
        <!--{{item.action}}<span ng-if="item.complete"> (Done)</span> </li>-->
    <!--</ol> </div>-->
  <!--<div ng-switch-default>-->
    <!--Select another option to display a layout-->
  <!--</div> </div>-->
