/* Component LESS */
/* Add Component LESS Above */

.reddit-view {

  ul {
    list-style-type: none;
    display: table;
    width: 100%;
    li {
      display: table-cell;
      vertical-align: middle;
    }
    .score {
      width: 50px;
    }
    .title {
      padding-right: 20px;
    }
    .byline {
      width: 15%;
    }
  }
  .first {
    margin-top: 20px;
    border-top: solid 1px #ccc;
    padding-top: 10px;
  }
  .last {
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
  }
  .even {
    background-color: #f1f1f1;
  }
}

